a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    background-image: url("../images/slider-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 750px;
}
header .top-header .navbar-nav{
    background-color: transparent;
    margin: auto;
    z-index: 999;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fbc31b;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 999;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #fbc31b;
}
.call .btn{
    display: inline-block;
    padding: 10px 35px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #fbc31b;
    border-radius: 30px;
    color: #fbc31b;
    z-index: 999;
}
.call .btn:hover{
    background-color: #fbc31b;
    color: white;
}
.fine-dinning{
    margin-top: 190px;
    color: white;
    z-index: 99;
}
.fine-dinning h1{
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 700;
}
.fine-dinning .btn-one{
    padding: 10px 35px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #ffffff;
    border-radius: 30px;
    color: #fbc31b;
    background: #ffffff;
    margin-right: 15px;
}
.fine-dinning .btn-one:hover{
    background-color: #fbc31b;
    color: #ffffff;
}
.fine-dinning .btn-two{
    padding: 10px 35px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #fbc31b;
    border-radius: 30px;
    color: #fbc31b;
}
.fine-dinning .btn-two:hover{
    background-color: #fbc31b;
    color: #ffffff;
}
.content img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.content .our-story h5{
    color: #fbc31b ;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    font-family: 'Kaushan Script', cursive;
}
.content .our-story h2{
    margin-bottom: 15px;
    font-weight: 700;
}
.content .our-story p{
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #5a5c5f;
}
.everything{
    position: relative;
    margin-bottom: 700px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class="everything"] {
        margin-bottom: 1900px;
    }
  }
.everything .quality{
    background-color: black;
    z-index: 999;
}
.everything .quality img{
    opacity: 0.6;
    object-fit: cover;
    width: 100%;
    height: 400px;
}
.everything h5{
    color: #fbc31b;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
    font-family: 'Kaushan Script', cursive;
}
.everything h2{
    color: #ffffff;
    font-size: 38px;
    font-weight: 900;
}
.everything h6{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}
.everything .utilities{
    position: absolute;
    top: 80px;
    padding-left: 100px;
}
.everything .Dichvu{
    padding: 45px 30px;
    text-align: center;
    border-radius: 5px;
    margin-top: 80px;
    background-color: #fff;
    color: #000;
    border-top: 3px solid #fbc31b;
    box-shadow: 0px 5px 30px 0px rgb(148 146 245 / 15%);
}
.everything .utilities .Dichvu i{
    font-size: 45px;
    color: #fbc31b;
    margin-bottom: 20px;
}
.menu-day-main .our-menu{
    margin-bottom: 50px;
}
.menu-day-main .our-menu h5{
    color: #fbc31b;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
    font-family: 'Kaushan Script', cursive;
}
.menu-day-main .our-menu h2{
    font-size: 38px;
    color: #333;
    margin: 10px 0 0 0;
    font-weight: 900;
}
.menu-day-main .menu-day-top{
    text-align: center;
    padding-top: 30px;
}
.menu-day-main .menu-day-top li.active a{
    color: #fbc31b;
}
.menu-day-main .menu-day-top li{
    display: inline-block;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px dashed #bbb;
    vertical-align: top;
}
@media only screen and (max-width: 768px) {
    .menu-day-main .menu-day-top li{
        padding-right: 20px;
        margin-right: 9px;
    }
}
.menu-day-main .menu-day-top li a i{
    font-size: 40px;
}
.menu-day-main .menu-day-top li a{
    color: #555;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.menu-day-main .menu-day-top li a:hover{
    color: #fbc31b;
}
.menu-day-main .menu-day-tab{
    padding: 100px 0;
}
.menu-day-main .menu-day-tab .menu-main-product{
    border-bottom: 1px dashed #bbb;
    padding: 15px 0;
    display: block;
}
.menu-day-main .menu-day-tab .menu-main-product a{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.menu-day-main .menu-day-tab .menu-main-product p{
    font-size: 15px;
    color: #333333;
}
.menu-day-main .menu-day-tab .menu-main-product span{
    color: #fbc31b;
    font-size: 18px;
    font-weight: 600;
}
.video-opening{
    position: relative;
    z-index: 1;
    padding: 70px 0;
    background: url("../images/review-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.video-opening::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .3;
    z-index: -1;
    background: #000;
}
.video-opening img{
    width: 30%;
}
.video-opening .video-box h3{
    font-size: 50px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Kaushan Script', cursive;
}
.contact-info{
    background: rgb(255, 255, 255, 0.97);
    padding: 70px 30px;
    text-align: center;
}
.contact-info h6{
    font-weight: 400;
}
.contact-info .contact-top h3{
    color: #fbc31b;
    font-size: 14px;
    font-weight: 600;
}
.contact-info .store h3{
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}
.contact-info .opening-hour h6{
    font-size: 20px;
    font-weight: 700;
}
.contact-info .opening-hour p{
    margin: 0;
    padding: 0;
}
.logo-stevia{
    padding: 100px 0;
}
.logo-stevia h3{
    font-size: 16px;
    font-weight: 700;
    padding: 15px 0 0 0;
}
.latest-news{
    background: #fff6f6;
    padding: 100px 0;
}
.latest-news .latest-news-title h5{
    color: #fbc31b;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.7px;
    font-family: 'Kaushan Script', cursive;
}
.latest-news .latest-news-title h2{
    font-size: 38px;
    margin: 10px 0 0 0;
    font-weight: 900;
}
.blog-item{
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    margin-top: 30px;
    box-shadow: 0px 5px 30px 0px rgb(148 146 245 / 15%);
    overflow: hidden;
}
.blog-item .blog-img{
    position: relative;
    overflow: hidden;
}
.blog-item .blog-img img:hover{
    transform: scale(1.1) !important;
    transition: all .5s;
}
.blog-item .blog-content{
    padding: 30px 25px;
}
.blog-item .blog-content .content-main a{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}
.blog-item .blog-content .content-bottom{
    font-size: 15px;
    color: #5a5a5a;
    font-weight: 700;
}
.blog-content a:hover{
    text-decoration-line: underline !important;
    color: #fbc31b !important;
    transition: all .5s;
}
.view-more .btn{
    padding: 10px 35px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #fbc31b;
    border-radius: 30px;
    color: #fbc31b;
}
.view-more .btn:hover{
    background-color: #fbc31b;
    color: white;
}
footer{
    background-color: #111115;
}
footer .footer-heading{
    padding: 100px 0;
    margin: 0 auto;
    display: table;
    text-align: center;
}
footer .footer-heading h3{
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    margin: 0 0 0 0;
    border-bottom: 1px dashed #3c4350;
    padding-bottom: 10px;
}
footer .footer-heading p{
    font-size: 15px;
    margin-top: 30px;
    color: #ffffff;
}
footer .footer-heading a.number{
    font-size: 24px;
    color: #e0dbdb;
    font-weight: 700;
}
footer .footer-heading a.email{
    font-size: 15px;
    color: #e0dbdb;
}
footer .footer-heading .footer-link{
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
}
footer .footer-heading .footer-link li{
    display: inline-block;
    padding-right: 15px;
}
footer .footer-heading .footer-link li a{
    color: #fff;
}
footer .footer-heading .footer-link li a i{
    font-size: 25px;
}
footer a.number:hover{
    color: #fbc31b;
    transition: all 0.4s;
    font-size: 28px;
}
footer a.email:hover{
    color: #fbc31b;
    transition: all 0.4s;
    font-size: 18px;
}
footer a i:hover{
    color: #fbc31b;
    transition: all 0.5s;
}
.copyright{
    background-color: #17171d;
    padding-top: 35px;
    padding-bottom: 35px;
}
.copyright p{
    color: #d9d3d3;
    font-size: 15px;
}
.copyright ul li{
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.copyright ul li a{
    color: #d9d3d3;
}
.copyright ul li a:hover{
    color: #fbc31b;
    transition: all 0.4s;
}
.copyright ul{
    text-align: right;
}